/* FAVORITE PAGE CSS */
/* watch out for class name duplicates, consider seperate these two files */

/* .card-container{
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    margin:25px; */
    /* margin-top: 0.25rem;
    margin-bottom: 0.25rem; */
/* } */ 

.child{
    display: flex;
    flex: 1 0 20%; margin: 5px;
    font-size: 25px;
    width: 200px;
    height: 200px;
    border:10px black solid;
}

/* MAIN PAGE CSS */

.result-section {
    margin: 1em .5em;
}

/* Fix tailwind js not working */
.collapse {
    visibility: visible !important;
}

/* ANIME INFORMATION */

.fa-caret-down {
    transition: all 0.5s ease;
    margin-left: auto;
}

.anime-title {
    font-size: 1.2em;
    font-weight: bold;
}

.anime-img {
    border: 2px solid black;
    border-radius: 5px;
}

/* ANIME PRODUCT */

.product-container {
    padding: 5px;
}

.product-card {
    border: 2px solid black;
    border-radius: 5px;
<<<<<<< HEAD
}

=======
}
>>>>>>> 8080bebb59b2cf0f3354d98443515f3f4c0ca9ab
