/* FAVORITE PAGE CSS */
/* watch out for class name duplicates, consider seperate these two files */

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    margin:25px;
}

.child{
    display: flex;
    justify-content: flex-end;
    flex: 1 0 20%; margin: 5px;
    font-size: 25px;
    width: 200px;
    height: 200px;
    border:10px black solid;
}

h1 {
    display: block;
    font-size: 75px !important;
}
/* MAIN PAGE CSS */

/* Fix tailwind js not working */
.collapse {
    visibility: visible !important;
}

/* ANIME INFORMATION */

.fa-caret-down {
    transition: all 0.5s ease;
    margin-left: auto;
}

.anime-title {
    font-size: 1.2em;
    font-weight: bold;
}

.anime-img {
    border: 2px solid black;
    border-radius: 5px;
}

.main-title > h1 {
    display: flex;
    justify-content: center;
}

/* ANIME PRODUCT */

.product-container {
    width:20%;
    padding: 5px;
}

.product-card {
    flex-shrink: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.anime-logo {
    height: 300px;
    width: 400px;
}


.back-to-home {
 margin-left: 200px;
}
